#forgot-password {
  @apply mx-auto my-8;

  .card {
    @apply max-w-lg m-auto;

    .error-handler {
      @apply mb-6;
    }
  }

  p {
    @apply text-center;

    @screen md {
      @apply text-left;
    }
  }
}
