.preloader {
  @apply bg-gray-900 text-white w-screen h-screen hidden left-0 top-0 ease-linear duration-200;
  @apply flex-col justify-center items-center;

  * {
    @apply transition-opacity duration-300 ease-in-out opacity-0;
  }

  z-index: 1000;
  transition-property: height;

  .preloader-logo {
    @apply animate-bounce w-28 h-28;
  }

  .preloader-brand {
    @apply uppercase;
  }

  &.active {
    @apply flex fixed;
    * {
      @apply opacity-100;
    }
  }
}
