@import './base.scss';

@import './pages/login.scss';
@import './pages/register.scss';

header.page-header {
  @apply flex flex-row mt-4 mx-8 items-center mb-6;

  .left {
    @apply justify-start flex-1;
  }

  .right {
    @apply justify-end flex-1;
  }
}

#app > .container {
  @apply px-4 flex-1;

  @screen md {
    @apply px-2;
  }
}
